<!DOCTYPE html>
<html>
  <head>
    <%
    meta title: "Alison Bushor",
          description: "Homepage",
          keywords: %w(web design software engineer developer website)
     %>
    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
    <!-- <link rel="stylesheet" href="../../assets/stylesheets/application.scss"> -->
    <meta charset="utf-8">
    <title>Alison Bushor</title>
  </head>
  <body>
    <div class='home-page'>
    <section class='header-section'>
      
    </section>

    <section class='home-info'>

    <p>My name is Alison Bushor.</p>
    <p>I'm a software developer based in NYC.</p>
    <p>Feel free to drop a line at alison@alisonbushor.com.</p>
    </section>

    <div class='home-buttons'>
      <a href="<%=projects_url%>">
    <input class='project-button' type="submit" name="<%=projects_url%>" value="PROJECTS"></a><br>

    <a href="<%=info_index_url%>">
    <input class='about-button' type="submit" name="<%=info_index_url%>" value="ABOUT ME"></a><br>

    <a href="https://drive.google.com/open?id=1BZwvomL2_e9_htfd0c6FT5bW9H2gW-tO">
    <input class='resume-button' type="submit" name="" value="RESUME"></a>
    </div>
  </div>


  <section class='footer-section'>
    <p>214-577-7653</p>
    <a href ="https://www.linkedin.com/in/alison-bushor-48977165/"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/linkedin.png'></a>
    <a href ="https://github.com/alisonkb"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/github.png'></a>
    <p>alison@alisonbushor.com</p>

  </section>

  </body>
</html>
