<!DOCTYPE html>
<html>
  <head>
    <%
    meta title: "Alison Bushor",
          description: "About Me",
          keywords: %w(photo editor video fashion alison bushor design retouch photography)
     %>
    <link rel="stylesheet" href="/css/work.scss">
    <meta charset="utf-8">
    <title>Alison Bushor Projects</title>
  </head>
  <body>

    <section class='work-page'>

        <div class='column-left' id='body-content'>

            <div >
              <div class='els'>
                <img class='work-pics' src ="https://s3.amazonaws.com/pxco-dev/PXGIF1.gif">
                <div class=layer-top>
                  <p class='hover-info'>Website Development</p>
                </div>
              </div>
            </div>


            <div >
              <div  class='els'>
                  <img class='work-pics' src ="https://s3.us-east-2.amazonaws.com/pxco/GoBudgie.gif">
                  <div class=layer-top>
                    <p class='hover-info'>Website Development</p>
                  </div><!-- <p class='learn-more' onClick='showLess(this); showBudgie();' id='show-less'>+</p> -->
               </div>
              </div>







      </div>

        <div class='column-right' id='body-content'>

          <div >
            <div class='els'>
              <img class='work-pics' src ="https://i.imgur.com/tvwBv3O.jpg">
              <div class=layer-top>
                <p class='hover-info'>On-Set Retouching</p>
              </div><!-- <p class='learn-more' onClick='showLess(this); showPXCO();' id='show-less'>+</p> -->
            </div>
          </div>

          <div >
          <div  class='els'>
              <img class='work-pics' src ="https://s3.us-east-2.amazonaws.com/pxco/GoBudgie.gif">
              <div class=layer-top>
                <p class='hover-info'>Website Development</p>
              </div><!-- <p class='learn-more' onClick='showLess(this); showBudgie();' id='show-less'>+</p> -->
           </div>
            </div>



          <div class='project-section'>
            <div  class='els'>
              <img class='work-pics' src ="https://s3.us-east-2.amazonaws.com/pxco/PORTv1.gif">
              <div class=layer-top>
                <p class='hover-info'>Website Development</p>
              </div><!-- <p class='learn-more' onClick='showLess(this); showPortfolio();' id='show-less'>+</p> -->
            </div>
          </div>




      </div>

    </section>

  </body>
</html>
