<!DOCTYPE html>
<html>
  <head>
    <%
    meta title: "Alison Bushor",
          description: "About Me",
          keywords: %w(web design software engineer developer website information)
     %>
    <link rel="stylesheet" href="/css/projects.scss">
    <meta charset="utf-8">
    <title>Alison Bushor Projects</title>
  </head>
  <body>

    <div class='home-page'>
    <section class='header-section'>
      <img class= 'header-lines' src='https://s3.us-east-2.amazonaws.com/pxco/lines.png'>
    <h1>Projects</h1>
    </section>

    <div class='header-buttons'>
      <a href="<%=home_index_url%>">
        <input class='project-button-h' type="submit" name="<%=home_index_url%>" value="HOME"></a>

      <a href="<%=info_index_url%>">
        <input class='about-button-h' type="submit" name="<%=info_index_url%>" value="ABOUT"></a><br>


    </div>

    <div class='PXCO-info'>
      <section class='project-info'>

        <section class='more-project-info'>
          <div class='section-one'>
            <h3>PXCO:</h3>
          <p>PXCO is a social photo sharing application based on VSCO
            made with React.js, JavaScript, Ruby on Rails, CSS, and SQL.
            It allows visitors to check out images that our community has
            uploaded and see user profiles with images that they've posted,
            as well as images that they've liked. In addition to profile pages
            and photo uploading capabilities, members get an additional
            photo feed of users that they follow. The images are stored via AWS
          to reduce file size.
          <div class='project-buttons'>
              <a href="https://pxco.herokuapp.com/#/">
                <input class='about-button' type="submit"  value="Live">
              </a>
              <a href="https://github.com/alisonkb/PXCO">
                <input class='project-button' type="submit" value="GitHub">
              </a>

          </div>
        </p>

          </div>
          <a href="https://pxco.herokuapp.com/#/">
            <img src ="https://s3.amazonaws.com/pxco-dev/PXGIF1.gif">
          </a>
        </section>
      </section>

    </div>

    <div class='Budgie-Info'>
      <section class='project-info'>
        <!-- <section class='more-project-info'> -->
          <div class='b-section-one'>
          <h3>Go, Budgie, Go!:</h3>

          <a href="https://alisonkb.github.io/Budgie_Runner/">
            <img class='Budgie-Gif' src ="https://s3.us-east-2.amazonaws.com/pxco/GoBudgie.gif">
          </a>
          </div>

          <div class='b-section-two'>

          <p>Go, Budgie, Go! is a game about my dog Budgie's adventure through
          Brooklyn as he chases down a squirrel! Your task is to help him
          jump over the many obstacles that stand in your way, such as garbage bins,
          hot dog carts, and more! This game was made with vanilla JavaScript and HTML5
          canvas.</p>
          <div class='project-buttons'>
              <a href="https://alisonkb.github.io/Budgie_Runner/">
                <input class='about-button' type="submit"  value="Live">
              </a>
              <a href="https://github.com/alisonkb/Budgie_Runner">
                <input class='project-button' type="submit" value="GitHub">
              </a>

          </div>



      </div>


        <!-- </section> -->
      </section>


    </div>

  </div>

    <section class='footer-section'>

      <p>214-577-7653</p>
      <a href ="https://www.linkedin.com/in/alison-bushor-48977165/"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/linkedin.png'></a>
      <a href ="https://github.com/alisonkb"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/github.png'></a>
      <p>alison@alisonbushor.com</p>

    </section>
  </body>
</html>
