<!DOCTYPE html>
<html>
  <head>
    <%
    meta title: "Alison Bushor",
          description: "Homepage",
          keywords: %w(web design software engineer developer website)
     %>
    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
    <meta charset="utf-8">
    <title>Alison Bushor</title>
  </head>
  <body>
    <!-- <div class='home-page1' id='body-content'> -->


      <section class='videos'>

        <p class='title'>Videos</p>
        <div class='video-player'>
          <iframe allowFullScreen frameborder="0" height="360" mozallowfullscreen src="https://player.vimeo.com/video/218867376" webkitAllowFullScreen width="640"></iframe>
          <iframe allowFullScreen frameborder="0" height="360" mozallowfullscreen src="https://player.vimeo.com/video/218867501" webkitAllowFullScreen width="640"></iframe>
          <iframe allowFullScreen frameborder="0" height="360" mozallowfullscreen src="https://player.vimeo.com/video/218867279" webkitAllowFullScreen width="640"></iframe>
        </div>

      </section>


      <section class='videos'>

        <p class='title'>Gifs</p>
        <div class='nm-gifs'>
        <img src='https://i.imgur.com/36vbvuL.gif'>
        <img src='https://i.imgur.com/rzZOy9J.gif'>
        <img src='https://i.imgur.com/tY0CbOc.gif'>
      </div>



      </section>

      <section class='videos'>

        <p class='title'>Retouching</p>
        <div class='nm-imgs'>
          <img src='https://i.imgur.com/KgBrmDb.jpg' >
        <img src='https://i.imgur.com/tvwBv3O.jpg'>
        <img src='https://i.imgur.com/EWT4HJF.jpg'>
      </div>



      </section>




    <!-- </div> -->




  </body>
</html>
