.home-page {
  overflow-x: hidden;
  width: 100vw;
  // height: calc(100vh - 80px);
}

.header-section {
  z-index: 1;
  position: relative;
  left: -6vw;
}

.header-section p {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 40vw;
  color: yellow;

}


.home-info {
  position: absolute;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  top: calc(-36vw);
  left: 16vw;
  font-size: 3vw;
  line-height: 200%;
}
