.home-page {
  overflow-x: hidden;
  width: 100vw;
  height: calc(100vh - 80px);
}

.header-section {
  background-color: yellow;
  height: 200px;
  overflow: hidden;
  width: 100vw;;
  position: relative;
}

.header-lines {
  height: 300px;
  width: auto;
  position: absolute;
  right: -200px;
  overflow: hidden;
}

.header-section h1 {
  font-family: Helvetica;
  font-size: 200px;
  font-weight: bolder;
  position: relative;
  left: 150px;
  top: 0px;
}


.home-info {
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  top: 25px;
  left: 150px;
  font-size: 30px;
  line-height: 200%;
}

.home-buttons {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 135px;


}

.project-button{
  color: cyan;
  background-color: black;
  margin: 15px;
  padding: 10px;

}
.about-button{
  color: magenta;
  background-color: black;
  margin: auto;
  display:inline-block;
  margin: 15px;
  padding: 10px;
}
.resume-button{
  color: yellow;
  background-color: black;
  margin: auto;
  display:inline-block;
  margin: 15px;
  padding: 10px;
}


.footer-section {
  background-color: magenta;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.promo-logo {
  height: 40px;
  padding: 0px 20px;
}

.footer-section p {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 30px;
  position: relative;
  padding: 0px 20px;
}

.footer-lines {
  height: 300px;
  width: auto;
  position: absolute;
  left: -250px;
  bottom: -220px;
  overflow: hidden;
}
