body {
  background: #ebd0cf;
  background: linear-gradient(to bottom, #ebd0cf 25%,#e8d5c6 50%,#e8e0c6 75%,#e8e7c6 100%);
}

.home-page1 {
  overflow-x: hidden;
  width: 100vw;
  height: calc(100vh - 80px);
}

.header-section {
  z-index: 1;
  position: relative;
  left: -6vw;
}

.header-section p {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 40vw;
  color: white;

}


.home-info {
  position: absolute;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  top: calc(-32vw);
  left: 16vw;
  font-size: 3vw;
  line-height: 200%;
}

.hide {
  display: none;
}
