.title, .title-2, .title-3 {
  z-index: 1;
  position: relative;
  left: -2vw;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 12vw;
  color: yellow;
}

.title-2 {
  color: yellow;
}

.title-3 {
  padding-top: 18vw;
  color: yellow;
}

.body {
  width: 80%;
  margin: auto;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  top: calc(-8vw);
  font-size: 2.5vw;
  line-height: 120%;
}

.body a {
  text-decoration: underline;
  cursor: pointer;
}

.list {
  top: -4vw;
  width: 80%;
  margin: auto;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  font-size: 2.5vw;
  line-height: 120%;

}

.left-side {
  padding-left: 18vw;
  display: inline-block;
  float: left;
  width: 25%;
}

.list-divider {
  width: 15px;
  height: 21vw;
  background-color: black;
  float: left;
  margin-right: 45px;
}

.right-side {
  float: left;
  width: 25%;
}
