.info-page {
  width: calc(100vw - 200px);
  min-height: 100vh
}


.info-header-buttons {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 30px;
  // position: relative;
  top: 210px;
  margin: 15px;
  position: absolute;
  right: 10px;
}

.home-info {
  padding-top: 40px;
}

.project-button-h {
  color: cyan;
  background-color: black;
  // margin: 15px;
  padding: 10px;
  margin-bottom: 30px;
}

.about-button-h {
  color: magenta;
  background-color: black;
  // margin: 15px;
  padding: 10px;
  margin-left: 15px;
}


.header-about {
  position: absolute;
  top: -200px;
}

.skill-buttons {
  // font-family: Helvetica;
  // font-weight: bolder;
  // font-size: 30px;
  position: relative;
  left: 135px;
  // margin: 15px;
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 80px;
  // color: white;
  display: flex;
  // color:white;
  // justify-content: flex-start;
}

.skill-buttons li {
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.skill-buttons img {
  width: 40px;
  margin: auto;
}

.skill-buttons p {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 30px;
  // color: white;
  // background-color: black;
  margin: 15px;
  padding: 10px;

}


.blue-button {
  color: cyan;
}
.yellow-button {
  color: yellow;
}
.magenta-button {
  color: magenta;
}

.info-resume-button {
  padding-top: 50px;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 30px;
  background-color: black;
  margin: 15px;
  padding: 10px;
  color: white;
}

.info-resume {
  padding-top: 50px;
  padding-bottom: 20px;
}
