
.video-player iframe {

  margin-left: calc(50vw - 320px);
  padding-bottom: 30px;
  z-index: 4;
}


.nm-gifs img {
  width: 400px;
  margin: auto;
  padding-bottom: 30px;
  z-index: 2;
}

.nm-imgs img {
  height: 500px;
  margin: auto;
  padding-bottom: 30px;
  z-index: 2;
}
