.project-section {
  margin-bottom: 6vw;
  z-index: 2;
}

.p-title, .p-title-2, .p-title-3 {
  z-index: 1;
  position: relative;
  left: -2.2vw;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 12vw;
  color: white;
  margin: 1vw;
}

.p-title-2 {
  color: white;
}

.p-title-3 {
  color: white;
}

.visible-els {
  text-align: center;
}

.project-pics {
  background-color: black;
  width: 60%;
  margin: auto;
  top: calc(-4vw);
  // cursor: pointer;
}

.learn-more {
  top: 1vw;
  margin: auto;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  font-size: 5vw;
  cursor: pointer;
}


.project-descript {

  display: none;
  width: 80%;
  top: 4vw;
  bottom: 2vw;
  margin: auto;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  font-size: 2.5vw;
  line-height: 120%;
}

.show-pxco {
  display: block;
}

.show-budgie {
  display: block;
}

.project-descript a {
  text-decoration: underline;
  cursor: pointer;
}
