.p-title, .p-title-2, .p-title-3 {
  z-index: 1;
  position: relative;
  left: -2.2vw;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 12vw;
  color: yellow;
  margin: 1vw;
}

.p-title-2 {
  color: magenta;
}

.p-title-3 {
  color: cyan;
}

.project-pics {
  width: 60%;
  margin: auto;
    top: calc(-4vw);
}

.project-descript {
  width: 80%;
  top: 2vw;
  bottom: 2vw;
  margin: auto;
  z-index: 2;
  font-family: Helvetica;
  font-weight: bolder;
  position: relative;
  font-size: 2.5vw;
  line-height: 120%;
}

.project-descript a {
  text-decoration: underline;
  cursor: pointer;
}
