<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.scss">

    <meta charset="utf-8">
    <title>Alison Bushor</title>
  </head>
  <body>
    <div class='info-page'>
    <section class='header-section'>
      <img class= 'header-lines' src='https://s3.us-east-2.amazonaws.com/pxco/lines.png'>
    <h1 class='header-about'>About</h1>
    </section>

    <div class='info-header-buttons'>
      <a href="<%=home_index_url%>">
        <input class='project-button-h' type="submit" name="<%=home_index_url%>" value="HOME">
      </a>

      <a href="<%=projects_url%>">
        <input class='about-button-h' type="submit" name="<%=info_index_url%>" value="PROJECTS">
      </a>
    </div>

    <section class='home-info'>

    <h3>Hi y'all!</h3>
    <p>Thanks for stopping by. My name is Alison, and I live in Brooklyn with
    my dog Budgie. I totally love computers and art and find myself drawn to anything
    that combines the two. Feel free to reach out with questions, comments, or just to chat!
    </p>
    <p class='info-resume'>Check out my <a class='info-resume-button' href='https://drive.google.com/file/d/1BZwvomL2_e9_htfd0c6FT5bW9H2gW-tO/view'>resume!</a></p>
    </section>

    <div class='skill-buttons'>

        <ul>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/css.png'><p class='blue-button'>CSS</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/html.png'><p class='yellow-button'>HTML</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/ruby.png'><p class='magenta-button'>Ruby</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/rails.png'><p>Rails</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/javascript.png'><p class='blue-button'>JavaScript</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/React.png'><p class='yellow-button'>React.JS</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/Redux.png'><p class='magenta-button'>Redux</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/sql.png'><p>SQL</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/heroku.png'><p class='blue-button'>Heroku</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/git.png'><p class='yellow-button'>Git</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/illustrator.png'><p class='magenta-button'>Illustrator</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/indesign.png'><p>InDesign</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/photoshop.png'><p class='blue-button'>Photoshop</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/bridge.png'><p class='yellow-button'>Bridge</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/premiere.png'><p class='magenta-button'>Premiere</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/captureone.png'><p>CaptureOne</p></li>
        </ul>
    </div>

    <!--
    <div class='skill-buttons'>

        <ul>
          <li class='blue-button'>CSS</li>
          <li class='yellow-button'>React.JS</li>
          <li class='magenta-button'>JavaScript</li>
          <li>Ruby</li>
          <li class='blue-button'>Rails</li>
          <li class='yellow-button'>HTML</li>
          <li class='magenta-button'>Redux</li>
          <li>SQL</li>
          <li class='blue-button'>JSON</li>
          <li class='yellow-button'>Adobe Illustrator</li>
          <li class='magenta-button'>Adobe InDesign</li>
          <li>Adobe Photoshop</li>
          <li class='blue-button'>Adobe Premiere</li>
          <li class='yellow-button'>Adobe Bridge</li>
          <li class='magenta-button'>CaptureOne</li>
        </ul>
    </div> -->
  </div>


  <section class='footer-section'>
    <p>214-577-7653</p>
    <a href ="https://www.linkedin.com/in/alison-bushor-48977165/"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/linkedin.png'></a>
    <a href ="https://github.com/alisonkb"><img class='promo-logo' src='https://s3.us-east-2.amazonaws.com/pxco/github.png'></a>
    <p>alisonbushor@gmail.com</p>

  </section>

  </body>
</html>
