<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
    <%
    meta title: "Alison Bushor",
          description: "Projects",
          keywords: %w(web design software engineer developer website)
     %>
    <meta charset="utf-8">
    <title>Alison Bushor</title>
  </head>
  <body>
    <div class='info-page' id='body-content'>


      <section class='about-me'>

        <p class='title'>About</p>
        <p class='body'>Thanks for stopping by! My name is Alison, and I live in Brooklyn with
        my dog Budgie. I totally love computers and art and find myself drawn to anything
        that combines the two. Feel free to reach out with questions, comments, or just to chat!
        </p>

        <p class='title-2'>Skills</p>
        <p class='body'>I taught myself HTML and Photoshop when I was very young to try to look cool on MySpace
          (it didn't work). That's really what started it all, since then I've continued perfecting
          my Adobe skills and coding languages.
          <div class='list'>
            <div class='left-side'>
              <ul>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>React.JS</li>
                <li>Ruby</li>
                <li>Rails</li>
                <li>SQL</li>
              </ul>
            </div>
            <div class='list-divider'></div>
            <div class='right-side'>
              <ul>
                <li>Illustrator</li>
                <li>InDesign</li>
                <li>Photoshop</li>
                <li>Bridge</li>
                <li>Premiere</li>
                <li>CaptureOne</li>
                <li>...and then some</li>
              </ul>
            </div>

          </div><br>

        </p><br><br>

        <p class='title-3'>Contact</p>
        <p class='body'>
          Call me at 214-577-7653.<br>
          Email me at alison@alisonbushor.com<br>
          <a href ="https://github.com/alisonkb">Here</a> is my GitHub. <br>
          <a href ="https://www.linkedin.com/in/alison-bushor-48977165/">Here</a> is my LinkedIn. </br>
          And <a href="https://drive.google.com/open?id=1BZwvomL2_e9_htfd0c6FT5bW9H2gW-tO">here</a> is my resume. <br>

        </p>
      </section>

    <!-- <div class='skill-buttons'>

        <ul>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/css.png'><p class='blue-button'>CSS</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/html.png'><p class='yellow-button'>HTML</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/ruby.png'><p class='yellow-button'>Ruby</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/rails.png'><p>Rails</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/javascript.png'><p class='blue-button'>JavaScript</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/React.png'><p class='yellow-button'>React.JS</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/Redux.png'><p class='yellow-button'>Redux</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/sql.png'><p>SQL</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/heroku.png'><p class='blue-button'>Heroku</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/git.png'><p class='yellow-button'>Git</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/illustrator.png'><p class='yellow-button'>Illustrator</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/indesign.png'><p>InDesign</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/photoshop.png'><p class='blue-button'>Photoshop</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/bridge.png'><p class='yellow-button'>Bridge</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/premiere.png'><p class='yellow-button'>Premiere</p></li>
          <li><img src='https://s3.amazonaws.com/pxco-dev/logos/captureone.png'><p>CaptureOne</p></li>
        </ul>
    </div> -->

  </div>




  </body>
</html>
