<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.scss">

    <meta charset="utf-8">
    <title>Alison Bushor</title>
  </head>
  <body>
    <div class='info-page'>
    <section class='header-section'>
      <img class= 'header-lines' src='assets/lines.png'>
    <h1>About</h1>
    </section>

    <section class='home-info'>

    <h3>Hi y'all!</h3>
    <p>Thanks for stopping by. My name is Alison, and I live in Brooklyn with
    my dog Budgie. I totally love computers and art and find myself drawn to anything
    that combines the two. Feel free to reach out with questions, comments, or just to chat!
    </p>
    </section>

    <div class='skill-buttons'>

        <ul>
          <li>CSS</li>
          <li>React.JS</li>
          <li>JavaScript</li>
          <li>Ruby on Rails</li>
          <li>HTML</li>
          <li>Adobe Illustrator</li>
          <li>Adobe InDesign</li>
          <li>Adobe Photoshop</li>
          <li>CaptureOne</li>
        </ul>
    </div>
  </div>


  <section class='footer-section'>
    <p>214-577-7653</p>
    <a href ="https://www.linkedin.com/in/alison-bushor-48977165/"><img class='promo-logo' src='assets/github.png'></a>
    <a href ="https://github.com/alisonkb"><img class='promo-logo' src='assets/linkedin.png'></a>
    <p>alisonbushor@gmail.com</p>

  </section>

  </body>
</html>
